/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700); */


/* Font Set */
body { 
    font-family: "proxima-nova", "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif; 
    /* -webkit-font-smoothing: antialiased; better for dark background */
    }
    h1, h2, h3, h4, h5, h6, .btn, .navbar, .brand { }


/* Font Size */
body{ font-size: 14px; font-size: 0.88rem; line-height:24px;   line-height:1.6em    }
h1  { font-size: 38px; font-size: 2.38rem; line-height:;       font-weight:;        }
h2  { font-size: 32px; font-size: 2.00rem; line-height:normal; font-weight:;        }
h3  { font-size: 22px; font-size: 1.38rem; line-height:normal; font-weight:;        }
h4  { font-size: 18px; font-size: 1.13rem; line-height:;       font-weight:;        }
h5  { font-size: 14px; font-size: 0.88rem; line-height:;       font-weight:;        }
h6  { font-size: 12px; font-size: 0.75rem; font-weight:normal; color: #888; margin-top: 0; }
p   {
    margin-bottom: 1.2em;
    vertical-align: bottom;
    word-break: normal;
    word-wrap: break-word;
    color: #333;
    }

.wrap h4, h5 { margin: 0; }

.wrap a, .wrap a:hover, .wrap a:active { text-decoration: none;}

blockquote p {
    color: #999999;
    font-size: 16px; font-size: 1rem;
    font-style: italic;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 0;
    padding: 20px 0;
}

small { color: #888; } 


/* Additional Font Style */
.pen, .pen p { 
 	 font-family:;
 	 }

.brush, .brush p { 
 	 font-family:;
 	 }

.book, .book p { 
     font-family:; 
     }
